body {
    background: url(https://images.saymedia-content.com/.image/t_share/MTkzOTUzODU0MDkyNjgyNzU3/particlesjs-examples.gif);
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: url(cursor.png),auto;
}
.palavract {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#letra1, #letra2, #letra3, #letra4, #letra5, #letra6, #letra7, #letra8, #letra9, #letra10, #letra11, #letra12, #letra13, #letra14, #letra15 {
    font-size: 30vh;
    color: rgb(255, 255, 255);
    text-shadow: -0.3vh 0 black, 0 0.3vh black, 0.3vh 0 black, 0 -0.3vh black;
    position: absolute;
    top: 60vh;
    left: 70vh;
    cursor: pointer;
    margin: 0;
    animation-name: mover;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#letra2 {
    top: 65vh;
    left: 100vh;
}
#letra3 {
    top: 65vh;
    left: 130vh;
}
#letra4 {
    top: 0vh;
    left: 85vh;
}
#letra5 {
    top: 60vh;
    left: 20vh;
}
#letra6 {
    top: 0vh;
    left: 30vh;
}
#letra7 {
    top: 5vh;
    left: 150vh;
}
#letra8 {
    top: -5vh;
    left: 50vh;
}
#letra9 {
    top: 55vh;
    left: 150vh;
}
#letra10 {
    top: 55vh;
    left: 40vh;
}
#letra11 {
    top: 5vh;
    left: 10vh;
}
#letra12 {
    top: 0vh;
    left: 130vh;
}
#letra13 {
    top: 35vh;
    left: 0vh;
}
#letra14 {
    top: -5vh;
    left: 185vh;
}
#letra15 {
    top: 50vh;
    left: 180vh;
}
#palavra {
    display: flex;
    justify-content: center;
    align-items: center;
}
#palavra span {
    font-size: 30vh;
    color: rgb(46, 46, 46);
    text-shadow: -0.3vh 0 black, 0 0.3vh black, 0.3vh 0 black, 0 -0.3vh black;
    margin: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    font-weight: 700;
}
html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#timerCt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 100;
}

#timer {
    font-size: 5vh;
    color: #fff;
    text-shadow: -0.3vh 0 black, 0 0.3vh black, 0.3vh 0 black, 0 -0.3vh black;
}

.cact {
    width: 25vh;
    height: 10vh;
    background-color: rgb(236, 126, 48);
    border: 0.3vh solid #813508;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 3vh;
    z-index: 100;
}

#acc {
    color: #ffffff;
    text-shadow: -0.1vh 0 black, 0 0.1vh black, 0.1vh 0 black, 0 -0.1vh black;
    font-size: 6vh;
}

.pontos {
    width: 25vh;
    height: 10vh;
    background-color: rgb(236, 126, 48);
    border: 0.3vh solid #813508;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3vh;
    z-index: 100;
    right: 0;
}

#letraCt {
    width: 25vh;
    height: 10vh;
    background-color: rgb(236, 126, 48);
    border: 0.5vh solid #813508;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 3vh;
    z-index: 100;
    right: 0;
    bottom: 0;
}

#letrap {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition-duration: 1s;
}

#letrap div {
    height: 100%;
    width: fit-content;
    padding: 2.5vh;
    border: 0.5vh solid #813508;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    color: rgb(255, 255, 255);
    text-shadow: -0.3vh 0 black, 0 0.3vh black, 0.3vh 0 black, 0 -0.3vh black;
    background-color: #81340841;
    margin: 0;
}

#pt {
    color: #ffffff;
    text-shadow: -0.1vh 0 black, 0 0.1vh black, 0.1vh 0 black, 0 -0.1vh black;
    font-size: 6vh;
}

@keyframes brilho {
    0% {
        text-shadow: -0.3vh 0 rgb(45, 250, 97), 0 0.3vh rgb(45, 250, 97), 0.3vh 0 rgb(45, 250, 97), 0 -0.3vh rgb(45, 250, 97);
    }
    100% {
        text-shadow: -0.3vh 0 black, 0 0.3vh black, 0.3vh 0 black, 0 -0.3vh black;
    }
}
@keyframes mover {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}